[submodule "Programacion/Front"]
	path = Programacion/Front
	url = https://github.com/alejandro-grisales1/FrontAsistenteDemandas.git
[submodule "Programacion/Backend"]
	path = Programacion/Backend
	url = https://github.com/Jhos10/BackAsistenteDemandas
